.header-content{
    background-image:url('https://th.bing.com/th/id/R.f69b6357181c8310c3a14aa7b802b826?rik=csYtDMx5GumiRg&pid=ImgRaw&r=0');
   height: 100vh;
    background-size: cover;
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ; */
}
.header-content h1 {
    top:35%;
    left: 50%;
    position: absolute;
    width: 1180px;
    transform: translate(-50%,-50%);

}
