.header{
    background-image:url('./cover.jpg');
    
   height: 100vh;
    background-size: cover;
   
}

.header-content  {
    top:70%;
    left: 27%;
    position: absolute;
   width: 550px;
    transform: translate(-50%,-50%);
   
   height: 500px;
   padding-top: 10%;
 

}
.home-course-container{
  
    background-color: rgb(247, 253, 253);
}
.button{
    margin-left: 45%;
    height: 50px;
    width: 170px;
    background-color: white;
    border-radius: 30px;
    border-color: cyan;
}
.button:hover{
    background-color: cyan;
}